:root {
  --clr-primary: #035447;
  --clr-secondary: #f4f3e7;
}

* {
  box-sizing: border-box;
}

.container {
  width: 75%;
  max-width: 1495px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
}
h1 {
  font-family: "Stratos-lights" !important;
  font-size: 64px;
  font-weight: 400;
}
h2 {
  font-family: "Stratos-lights";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

h3 {
  font-family: "Stratos-lights";
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
}

button {
  padding: 1.1rem 1.7rem;
  background-color: var(--clr-primary);
  border: solid var(--clr-primary) 2px;
  border-radius: 500px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  letter-spacing: 0.1rem;
}

button:hover,
button:focus {
  background-color: black;
  border: solid black 2px;
}

header {
  background: url("images/header_background.png");
  height: 90vh;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}
header h1 {
  width: 60%;
}
header button {
  margin-top: 4rem;
}
.top {
  margin-top: auto;
  color: var(--clr-secondary);
}

.mission_statement_block {
  text-align: center;
  padding: 6rem 0 0;
  background-color: var(--clr-secondary);
}
.mission_statement_block p {
  width: 60%;
  line-height: 2rem;
  margin: auto;
}

.mission_statement_block button {
  margin: 6rem auto;
}
.cards_block {
  background-color: black;
  padding: 4em 0 6em;
  text-align: center;
  color: var(--clr-secondary);
  position: relative;
  height: 100vh;
  min-height: 800px;
}
.cards_block::before {
  content: "";
  background-image: url("images/cards_background.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.cards_block h1 {
  padding: 4rem;
  position: relative;
}
.card_container {
  display: flex;
  gap: 3%;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  height: 70%;
}
.card {
  padding: 2rem;
  border-radius: 10px;
  flex: 1 1 300px;
  min-height: 470px;
  max-width: 80%;
  text-align: left;
  color: black;
  background-color: var(--clr-secondary);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  line-height: 200%;
}
.card img {
  width: 60px;
}

.card:hover {
  transform: scale(1.05);
}
.card button {
  margin-bottom: 0;
  margin: auto 0.5em 0 0;
  background-color: var(--clr-secondary);
  border: solid var(--clr-primary) 2px;
  color: var(--clr-primary);
  padding: 0.9rem 1.7rem;
}
.card button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

.htb_block {
  background-color: #e8dcc6;
  padding: 8rem 0;
}
.htb_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}
.htb_container div:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.htb_container div:nth-child(1) button {
  margin-top: auto;
}

.htb_container > * {
  width: 45%;
  max-width: 450px;
}
form input[type="submit"] {
  display: none;
}

/* Making and Styling the Scrolling banner*/

.scroll_text_container {
  display: flex;
  gap: 2rem;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

section .scroll {
  width: 100%;
  display: flex;
  background-color: black;
}

section .scroll div {
  color: var(--clr-secondary);
  font-size: 1.8rem;
  background-color: black;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
section .scroll div:nth-child(1) {
  padding-left: 2rem;
}
section .scroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
  padding-left: 2rem;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(-0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.madness_block {
  background: url(images/madness.png);
  background-size: cover;
  height: 100vh;
  text-align: right;
  padding: 6%;
  height: 800px;
}
.madness_block button {
  margin-top: 2rem;
}
